:root {
  --normal: #a8a878;
  --fire: #f08030;
  --fighting: #c03028;
  --water: #6890f0;
  --flying: #a890f0;
  --grass: #78c850;
  --poison: #a040a0;
  --electric: #f8d030;
  --ground: #e0c068;
  --psychic: #f85888;
  --rock: #b8a038;
  --ice: #98d8d8;
  --bug: #a8b820;
  --dragon: #7038f8;
  --ghost: #705898;
  --dark: #705848;
  --steel: #b8b8d0;
  --fairy: #ee99ac;
  --unknow: #68a090;
  --empty: #c9bdbd;

  --normal-border: #6d6d4e;
  --fire-border: #9c531f;
  --fighting-border: #7d1f1a;
  --water-border: #445e9c;
  --flying-border: #6d5e9c;
  --grass-border: #4e8234;
  --poison-border: #682a68;
  --electric-border: #a1871f;
  --ground-border: #927d44;
  --psychic-border: #a13959;
  --rock-border: #786824;
  --ice-border: #638d8d;
  --bug-border: #6d7815;
  --dragon-border: #4924a1;
  --ghost-border: #493963;
  --dark-border: #49392f;
  --steel-border: #787887;
  --fairy-border: #9b6470;
  --unknow-border: #44685e;
  --empty-border: #928989;
}

.block {
  width: 25px;
  height: 10px;
}

.block span {
  font-size: 1.6rem;
}

/*---. Types .---*/
.normal {
  background-color: var(--normal);
  border: 1px dashed var(--normal-border);
}

.fire {
  background: var(--fire);
  border: 1px dashed var(--fire-border);
}

.fighting {
  background: var(--fighting);
  border: 1px dashed var(--fighting-border);
}

.water {
  background: var(--water);
  border: 1px dashed var(--water-border);
}

.flying {
  background: var(--flying);
  border: 1px dashed var(--flying-border);
}

.grass {
  background: var(--grass);
  border: 1px dashed var(--grass-border);
}

.poison {
  background: var(--poison);
  border: 1px dashed var(--poison-border);
}

.electric {
  background: var(--electric);
  border: 1px dashed var(--electric-border);
}

.ground {
  background: var(--ground);
  border: 1px dashed var(--ground-border);
}

.psychic {
  background: var(--psychic);
  border: 1px dashed var(--psychic-border);
}

.rock {
  background: var(--rock);
  border: 1px dashed var(--rock-border);
}

.ice {
  background: var(--ice);
  border: 1px dashed var(--ice-border);
}

.bug {
  background: var(--bug);
  border: 1px dashed var(--bug-border);
}

.dragon {
  background: var(--dragon);
  border: 1px dashed var(--dragon-border);
}

.ghost {
  background: var(--ghost);
  border: 1px dashed var(--ghost-border);
}

.dark {
  background: var(--dark);
  border: 1px dashed var(--dark-border);
}

.steel {
  background: var(--steel);
  border: 1px dashed var(--steel-border);
}

.fairy {
  background: var(--fairy);
  border: 1px dashed var(--fairy-border);
}

.unknow {
  background: var(--unknow);
  border: 1px dashed var(--unknow-border);
}

.empty {
  background-image: repeating-linear-gradient(
    45deg,
    var(--empty) 0px,
    var(--empty) 3px,
    var(--empty) 3px,
    var(--empty-border) 3px,
    var(--empty-border) 5px
  );

  border: 1px dashed var(--empty-border);
}

/*---. Types circle card & Animation .---*/
/* translate: index.css */
.bx-normal {
  box-shadow: 0px 0px 0px 1px var(--normal-border),
    0px 0px 0px 4px var(--normal);
}
.bx-normal:hover {
  box-shadow: 0 0 12px 3px var(--normal);
  border: 1px solid var(--normal-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-fire {
  box-shadow: 0px 0px 0px 1px var(--fire-border), 0px 0px 0px 4px var(--fire);
}

.bx-fire:hover {
  box-shadow: 0 0 12px 3px var(--fire);
  border: 1px solid var(--fire-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-fighting {
  box-shadow: 0px 0px 0px 1px var(--fighting-border),
    0px 0px 0px 4px var(--fighting);
}

.bx-fighting:hover {
  box-shadow: 0 0 12px 3px var(--fighting);
  border: 1px solid var(--fighting-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-water {
  box-shadow: 0px 0px 0px 1px var(--water-border), 0px 0px 0px 4px var(--water);
}
.bx-water:hover {
  box-shadow: 0 0 12px 3px var(--water);
  border: 1px solid var(--water-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-flying {
  box-shadow: 0px 0px 0px 1px var(--flying-border),
    0px 0px 0px 4px var(--flying);
}
.bx-flying:hover {
  box-shadow: 0 0 12px 3px var(--flying);
  border: 1px solid var(--flying-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-grass {
  box-shadow: 0px 0px 0px 1px var(--grass-border), 0px 0px 0px 4px var(--grass);
}
.bx-grass:hover {
  box-shadow: 0 0 12px 3px var(--grass);
  border: 1px solid var(--grass-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-poison {
  box-shadow: 0px 0px 0px 1px var(--poison-border),
    0px 0px 0px 4px var(--poison);
}
.bx-poison:hover {
  box-shadow: 0 0 12px 3px var(--poison);
  border: 1px solid var(--poison-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-electric {
  box-shadow: 0px 0px 0px 1px var(--electric-border),
    0px 0px 0px 4px var(--electric);
}
.bx-electric:hover {
  box-shadow: 0 0 12px 3px var(--electric);
  border: 1px solid var(--electric-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-ground {
  box-shadow: 0px 0px 0px 1px var(--ground-border),
    0px 0px 0px 4px var(--ground);
}
.bx-ground:hover {
  box-shadow: 0 0 12px 3px var(--ground);
  border: 1px solid var(--ground-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-psychic {
  box-shadow: 0px 0px 0px 1px var(--psychic-border),
    0px 0px 0px 4px var(--psychic);
}
.bx-psychic:hover {
  box-shadow: 0 0 12px 3px var(--psychic);
  border: 1px solid var(--psychic-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-rock {
  box-shadow: 0px 0px 0px 1px var(--rock-border), 0px 0px 0px 4px var(--rock);
}
.bx-rock:hover {
  box-shadow: 0 0 12px 3px var(--rock);
  border: 1px solid var(--rock-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-ice {
  box-shadow: 0px 0px 0px 1px var(--ice-border), 0px 0px 0px 4px var(--ice);
}
.bx-ice:hover {
  box-shadow: 0 0 12px 3px var(--ice);
  border: 1px solid var(--ice-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-bug {
  box-shadow: 0px 0px 0px 1px var(--bug-border), 0px 0px 0px 4px var(--bug);
}
.bx-bug:hover {
  box-shadow: 0 0 12px 3px var(--bug);
  border: 1px solid var(--bug-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-dragon {
  box-shadow: 0px 0px 0px 1px var(--dragon-border),
    0px 0px 0px 4px var(--dragon);
}
.bx-dragon:hover {
  box-shadow: 0 0 12px 3px var(--dragon);
  border: 1px solid var(--dragon-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-ghost {
  box-shadow: 0px 0px 0px 1px var(--ghost-border), 0px 0px 0px 4px var(--ghost);
}
.bx-ghost:hover {
  box-shadow: 0 0 12px 3px var(--ghost);
  border: 1px solid var(--ghost-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-dark {
  box-shadow: 0px 0px 0px 1px var(--dark-border), 0px 0px 0px 4px var(--dark);
}
.bx-dark:hover {
  box-shadow: 0 0 12px 3px var(--dark);
  border: 1px solid var(--dark-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-steel {
  box-shadow: 0px 0px 0px 1px var(--steel-border), 0px 0px 0px 4px var(--steel);
}
.bx-steel:hover {
  box-shadow: 0 0 12px 3px var(--steel);
  border: 1px solid var(--steel-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-fairy {
  box-shadow: 0px 0px 0px 1px var(--fairy-border), 0px 0px 0px 4px var(--fairy);
}
.bx-fairy:hover {
  box-shadow: 0 0 12px 3px var(--fairy);
  border: 1px solid var(--fairy-border);
  animation: translate 1.4s ease-in-out infinite;
}

.bx-unknow {
  box-shadow: 0px 0px 0px 1px var(--unknow-border),
    0px 0px 0px 4px var(--unknow);
}

.bx-unknow:hover {
  box-shadow: 0 0 12px 3px var(--unknow);
  border: 1px solid var(--unkown-border);
  animation: translate 1.4s ease-in-out infinite;
}

/*--. Info Card .--*/
.bg-linear-normal {
  background-color: var(--normal);
  box-shadow: inset 0px -2px 5px 0px var(--normal-border);
  filter: brightness(1.1);
  border: 1px solid var(--normal-border);
}

.bg-linear-fire {
  background-color: var(--fire);
  box-shadow: inset 0px -2px 5px 0px var(--fire-border);
  filter: brightness(1.1);
  border: 1px solid var(--fire-border);
}

.bg-linear-fighting {
  background-color: var(--fighting);
  box-shadow: inset 0px -2px 5px 0px var(--fighting-border);
  filter: brightness(1.1);
  border: 1px solid var(--fighting-border);
}

.bg-linear-water {
  background-color: var(--water);
  box-shadow: inset 0px -2px 5px 0px var(--water-border);
  filter: brightness(1.1);
  border: 1px solid var(--water-border);
}

.bg-linear-flying {
  background-color: var(--flying);
  box-shadow: inset 0px -2px 5px 0px var(--flying-border);
  filter: brightness(1.1);
  border: 1px solid var(--flying-border);
}

.bg-linear-grass {
  background-color: var(--grass);
  box-shadow: inset 0px -2px 5px 0px var(--grass-border);
  filter: brightness(1.1);
  border: 1px solid var(--grass-border);
}

.bg-linear-poison {
  background-color: var(--poison);
  box-shadow: inset 0px -2px 5px 0px var(--poison-border);
  filter: brightness(1.1);
  border: 1px solid var(--poison-border);
}

.bg-linear-electric {
  background-color: var(--electric);
  box-shadow: inset 0px -2px 5px 0px var(--electric-border);
  filter: brightness(1.1);
  border: 1px solid var(--electric-border);
}

.bg-linear-ground {
  background-color: var(--ground);
  box-shadow: inset 0px -2px 5px 0px var(--ground-border);
  filter: brightness(1.1);
  border: 1px solid var(--ground-border);
}

.bg-linear-psychic {
  background-color: var(--psychic);
  box-shadow: inset 0px -2px 5px 0px var(--psychic-border);
  filter: brightness(1.1);
  border: 1px solid var(--psychic-border);
}

.bg-linear-rock {
  background-color: var(--rock);
  box-shadow: inset 0px -2px 5px 0px var(--rock-border);
  filter: brightness(1.1);
  border: 1px solid var(--rock-border);
}

.bg-linear-ice {
  background-color: var(--ice);
  box-shadow: inset 0px -2px 5px 0px var(--ice-border);
  filter: brightness(1.1);
  border: 1px solid var(--ice-border);
}

.bg-linear-bug {
  background-color: var(--bug);
  box-shadow: inset 0px -2px 5px 0px var(--bug-border);
  filter: brightness(1.1);
  border: 1px solid var(--bug-border);
}

.bg-linear-dragon {
  background-color: var(--dragon);
  box-shadow: inset 0px -2px 5px 0px var(--dragon-border);
  filter: brightness(1.1);
  border: 1px solid var(--dragon-border);
}

.bg-linear-ghost {
  background-color: var(--ghost);
  box-shadow: inset 0px -2px 5px 0px var(--ghost-border);
  filter: brightness(1.1);
  border: 1px solid var(--ghost-border);
}

.bg-linear-dark {
  background-color: var(--dark);
  box-shadow: inset 0px -2px 5px 0px var(--dark-border);
  filter: brightness(1.1);
  border: 1px solid var(--dark-border);
}

.bg-linear-steel {
  background-color: var(--steel);
  box-shadow: inset 0px -2px 5px 0px var(--steel-border);
  filter: brightness(1.1);
  border: 1px solid var(--steel-border);
}

.bg-linear-fairy {
  background-color: var(--fairy);
  box-shadow: inset 0px -2px 5px 0px var(--fairy-border);
  filter: brightness(1.1);
  border: 1px solid var(--fairy-border);
}

.bg-linear-unknow {
  background-color: var(--unknow);
  box-shadow: inset 0px -2px 5px 0px var(--unknow-border);
  filter: brightness(1.1);
  border: 1px solid var(--unkown-border);
}
