:root {
  /*---. Fuentes globales .---*/
  /* Contenido general  */
  --primaryFont: "Roboto Mono", monospace;
  /* Descripciones e info pokemon  */
  --secondaryFont: "VT323", monospace;
  /* Títulos  */
  --pokemonFont: "Pokemon Solid", sans-serif;

  /*---. Colores globales .---*/
  --yellow: #ffcd03;
  --yellow-light: #ffde59;
  --blue: #355ba1;
  --blue-light: #4d7dc3;
}

/*---. Reset .---*/
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 1rem 10px*/
  margin: 0;
  height: 100vh;
  background-color: #f9f9ff;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
#root {
  position: relative;
  min-height: 100vh;
}
body {
  font-family: var(--primaryFont);
  height: inherit;
  margin: 0;
}

h1 {
  font-size: 2.6rem;
  text-align: center;
}
h3 {
  text-transform: capitalize;
  margin: 10px 0;
}
/*---. Header .---*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 80px;
  padding: 15px 3rem;
  background-color: var(--blue);
}

.header a img {
  display: block;
  width: 100%;
  max-width: 150px;
  height: auto;
  /* Magic! */
}
.navegacion ul {
  display: flex;
  padding: 0;
}
.navegacion ul li {
  font-size: 1.3rem;
  list-style: none;
  margin: 0 5px;
}
@media screen and (min-width: 375px) {
  .navegacion ul li {
    font-size: 1.5rem;
  }
}

.navegacion ul li a {
  color: var(--yellow);
  text-decoration: none;
  padding: 2px;
  transition-property: color, background-color;
  transition-duration: 0.2s;
}

.navegacion ul li a:hover,
.navegacion .active {
  color: var(--blue);
  background-color: var(--yellow);
}
/*---. Search Pokemons input .---*/
.section {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 1.5rem;
}

.searchForm {
  display: grid;
  justify-items: center;
  gap: 3rem;
}

/* Selector */

input[type="range"] {
  width: 250px;
  position: relative;
  -webkit-appearance: none;
  height: 8px;
  border-radius: 5px;
  background-color: var(--yellow);
}
.top-range::before,
.top-range::after {
  position: absolute;
  top: 12px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.top-range::before {
  content: "1";
  left: -2px;
}
.top-range::after {
  content: "1155";
  left: 228px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: var(--blue);
}

/* Button request */
input[type="submit"] {
  width: 100%;
  font-family: var(--secondaryFont);
  font-size: 2rem;
  font-weight: 700;
  max-width: 180px;
  padding: 0.5rem 1rem;
  border-style: dashed;
  border-color: var(--blue);
  border-width: 1.25px;
  border-radius: 5px;
  background-color: var(--yellow);
  color: var(--blue);
  cursor: pointer;
  transition-property: background-color, color;
  transition-duration: 0.3s;
}
input[type="submit"]:hover {
  background-color: var(--blue);
  color: var(--yellow);
  border-color: var(--yellow);
}

/*---. Filters .---*/
.filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  font-size: 1.7rem;
  width: 100%;
  background-color: var(--blue-light);
  padding: 3rem;
  margin: 1rem 0;
}

.filters > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.75rem;
  border-radius: 4px;
  background-color: var(--blue);
  box-shadow: 0 0 3px 0px rgba(34, 74, 207, 0.5);
  color: var(--yellow);
}

select:focus,
input:focus {
  outline: none;
}

.filters > div > select,
.filters > div > input {
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 0.3rem 0.5rem;
  background-color: var(--yellow-light);
  color: var(--blue);
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
}

label {
  color: var(--yellow);
  font-weight: 700;
  text-transform: capitalize;
  margin: 1rem;
}

/*---. Pagination & Main .---*/

.pagination {
  padding: 3rem 0 2rem;
  text-align: center;
}
.pagination p {
  font-size: 1.4rem;
  margin: 0;
}

button {
  all: unset;
  cursor: pointer;
  font-size: 1.6rem;
  margin: 1rem 0.1rem;
  padding: 0.5rem 1rem;
  background-color: var(--blue);
  color: var(--yellow);
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 0.1s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

button:hover {
  background-color: var(--yellow);
  color: var(--blue);
}

button:disabled {
  background-color: var(--blue-light);
  color: var(--yellow-light);
  cursor: default;
}

.numeration {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.prev {
  display: flex;
  flex-direction: column;
}

.next {
  display: flex;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .prev {
    flex-direction: row;
  }
  .next {
    flex-direction: row;
  }
}

/* Main */
.main {
  display: grid;
  margin: 0rem 2rem 0rem 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
}

/*---. Card Pokemon .---*/
.main > article {
  font-family: var(--secondaryFont);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 100px;
  max-width: 300px;

  height: 95%;
  min-height: 80px;
  max-height: 250px;

  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);

  /* selection  */
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.main > article > img {
  max-width: 125px;
  height: auto;

  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border-radius: 50%;

  translate: 0 -2px;
  transition: all 0.3s ease-in-out;
}

/* animation translate y  */
@keyframes translate {
  0% {
    transform: translateY(0px);
    rotate: 0deg;
  }
  50% {
    transform: translateY(-6px);
    rotate: 2deg;
  }
  100% {
    transform: translateY(0px);
  }
}

.main > article > h3 {
  font-size: 2.7rem;
  font-weight: 400;
  text-align: center;
  display: flex;
  align-items: flex-end;
  gap: 0.2rem;
}

.main > article > h3 > svg {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.main > article > .pokemon_id {
  margin: 0;
  position: absolute;
  left: 10px;
  top: 10px;
  cursor: default;

  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;

  background-color: #fff;
  box-shadow: 0px 0px 1px 1px #a3a29c;
  padding: 2px 4px;
}
.pokemon_generalinfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
  padding: 0.25rem 0.5rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
}

.pokemon_generalinfo > div > img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.pokemon_generalinfo > div > span {
  font-size: 2rem;
  margin: 5px 5px;
  text-align: center;
}
.pokemon_generalinfo > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.pokemon_selector {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 1.5rem;
  font-family: var(--secondaryFont);
  font-weight: 400;

  background-color: #fff;
  padding: 2px 4px;
  box-shadow: 0px 0px 1px 1px #a3a29c;
}

input[type="select"]:focus {
  outline: none;
}

/*---. Footer .---*/
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; /* Footer height */
  color: var(--yellow);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-height: 80px;
  padding: 25px 5px;
  background-color: var(--blue);
}

/*---. Scroll bar .---*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
